@model FormPage.Models.Student

<div class="modern-card">

    <h4 class="mb-3">🎓 Student Form</h4>

    <div class="input-group-animated">
        <input asp-for="StudentName" required />
        <label>Student Name</label>
        <span class="underline"></span>
    </div>

    <div class="input-group-animated">
        <input asp-for="StudentAge" required />
        <label>Student Age</label>
        <span class="underline"></span>
    </div>

    <div class="input-group-animated">
        <input asp-for="StudentAddress" required />
        <label>Address</label>
        <span class="underline"></span>
    </div>

    <div class="input-group-animated">
        <input asp-for="SchoolName" required />
        <label>School Name</label>
        <span class="underline"></span>
    </div>

</div>